<div fxLayoutAlign="center center" fxLayout="column">
    <h1>Phytoplankton Classifier</h1>

    <div>

        <md-card fxLayoutAlign="center center" fxLayout="row">            
            <div class="wrapper">
                <div *ngFor='let url of urls' class="container">
                    <img [src]="url" height="200" width="100">
                    <div class="overlay">
                        <div class="text">THOMAS</div>
                    </div>
                </div>
                <!-- <img *ngFor='let url of urls'  [src]="url" height="200" width="100"> <br/> -->
            </div>
        </md-card>

        <md-card fxLayoutAlign="center center" fxLayout="row">         
            <input type='file' (change)="onSelectFile($event)" multiple>
        </md-card>
        
        <md-card fxLayoutAlign="center center" fxLayout="row" fxLayoutGap="20px">         
                <button md-raised-button (click)="predict()" >2 - Predict species</button> 
                <!-- <a class="btn btn-clear" title="Download JSON" [href]="downloadJsonHref" download="download.json">Truc</a> -->
                <a class=md-raised-button title="Download JSON" [href]="downloadJsonHref" download="download.json">Test</a>

                <!-- <button md-raised-button (click)="exportJson()" [href]="downloadJsonHref" download="download.json">3 - Save results</button>  -->
                <!-- (click)="predictIris()" -->
        </md-card>
    </div>
</div>
