<div fxLayoutAlign="center center" fxLayout="column">
    <h1>Phytoplankton Classifier</h1>

    <div>

        <md-card fxLayoutAlign="center center" fxLayout="row" style="height: 500px; overflow-y: auto">            
            <div class="wrapper">
                <div *ngFor='let url of urls' class="container">
                    <img [src]="url[0]" height="200" width="100">
                    <div class="overlay">
                        <div class="text">
                            <p>name : {{url[1]}}</p>
                            <p>height: {{url[2]}}</p>
                            <p>width: {{url[3]}}</p>
                            <p>confidence: {{url[4]}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </md-card>

        <md-card fxLayoutAlign="center center" fxLayout="row">         
            <input type='file' (change)="onSelectFile($event)" multiple>
        </md-card>
        
        <md-card fxLayoutAlign="center center" fxLayout="row" fxLayoutGap="20px">         
                <button md-raised-button (click)="predict()" >2 - Predict species</button> 
                <!-- <button md-raised-button (click)="downloadJsonHref" download="download.json" >2 - Predict species</button>  -->
                <a class=md-raised-button title="Download JSON" [href]="downloadJsonHref" download="download.json">Test</a>
        </md-card>
    </div>
</div>
