<div fxLayoutAlign="center center" fxLayout="column">
    <h1>Phytoplankton Classifier</h1>

    <div>

        <md-card fxLayoutAlign="center center" fxLayout="row" style="height: 500px; overflow-y: auto">            
            <div class="wrapper">
                <div *ngFor='let url of urls' class="container">
                    <img [src]="url[0]" height="200" width="100">
                    <div class="overlay">
                        <div class="text">
                            <p>name : {{url[1]}}</p>
                            <p>height: {{url[2]}}</p>
                            <p>width: {{url[3]}}</p>
                            <p>confidence: {{url[4]}}</p>
                            <p>class: {{url[5]}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </md-card>

        <md-card fxLayoutAlign="center center" fxLayout="row">         
            <input type='file' (change)="onSelectFile($event)" multiple>
        </md-card>

        <md-card fxLayoutAlign="center center" fxLayout="row">                   
            <select id="model" (change)="loadModel($event)" >
                <option *ngFor="let model of models" [ngValue]="model" >{{model}}</option>
            </select> 
        </md-card>
        
        <md-card fxLayoutAlign="center center" fxLayout="row" fxLayoutGap="20px">         
                <button md-raised-button (click)="predict()" >Predict species</button> 
                <button md-raised-button (click)="downloadJson()" >Download results</button> 
                <!-- <a class=md-raised-button title="Download JSON" [href]="downloadJsonHref" download="download.json">Download results</a> -->
        </md-card>
    </div>
</div>
