$chart-min-height: 300px;
$chart-width: 600px;
.home__chart-container {
    min-height: $chart-min-height;
    width: $chart-width;
    max-width: 200%;
}
.image {
display: block;
}
.container {
    position: relative;
}
.container:hover .overlay {
    opacity: 0.8;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 20px;
    height: 500 px;
    overflow: auto;
    min-width: 0; 
    // grid-auto-rows: 100px;
  }

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}
.text {
    color: white;
    font-size: 10px;
    position: relative;
    top: 10%;
    left: 30%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }